 @import url(https://fonts.googleapis.com/css?family=Quicksand);
 /* Add a black background color to the top navigation */

 body {
  background-color: black;
  font-family: 'Quicksand';

 }
.topnav .menu-tel a{
	    margin-top: 3px;
		color: white;
		font-size: 14px;
		float: right;
		padding-right: 2px;
		text-decoration: none;
		
	
}
.topnav {
    background-color: #131919;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
	padding: 10px;
	opacity: .97;
	
}

img.logo {
	
	width: 120px;
	height: 78px;
	margin-left: 45px;
	transition: all 0.4s ease-in-out;
	
}


img.flag {
   width: 25px;
   height: 25px;
   display: inline-block;
   margin-bottom: 2px;

}

/* Style the links inside the navigation bar */
.topnav >.menu-part1 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
    font-size: 19px;
}
.topnav .menu-part2 {
        float:right;
        margin-top: 2px;
}
.topnav .menu-part2 a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
}

.topnav .menu-exlogo  {
  display: block; 
  padding: 25px 0px 0px;
}


.english-button {
  display: inline-block;
}

.deutsch-button {
  display: inline-block;
  margin-right: 8px; 
}

/* Change the color of links on hover */
.topnav .menu-exlogo a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .menu-exlogo .language-menu:hover {
    background-color: #333333;
}
.container{
	width: auto;
	padding-right: 0px;
    padding-left: 0px;	
}
.carousel-inner img.img-responsive {
  width: 100%;
  object-fit: cover;
}
.tab-content {
  padding-left: 0px;
}
.main {
    margin-top: 51px; 
}
.main.responsive  {
    margin-top: 0px; 
}
 .carousel{
    z-index: 0;
}
.karuzela img {
	opacity: 0.5;
}

.center-text{
	text-align:center;
}	
.placeholder {
				margin: 0px;
				padding: 0px;
				border: 0px;
				font: inherit;
				vertical-align: baseline;
				color: #727374;
	
}
.column {
		padding-top: 30px;
		height:100%; 
		box-sizing: border-box;
		float: left;
}
.col-1 {
	width: 8.33%;
} 
.col-2 {
	width: 16.66%;
} 
.col-3 {
	width: 25%;
} 
.col-4 {
	width: 33.33%;
} 
.col-5 {
	width: 41.66%;
} 
.col-6 {
	width: 50%;
} 
.col-7 {
	width: 58.33%;
} 
.col-8 {
	width: 66.66%;
} 
.col-9 {
	width: 75%;
} 
.col-10 {
	width: 83.33%;
} 
.col-11 {
	width: 91.66%;
} 
.col-12 {
	width: 100%;
}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}
.column-margin-0px.column			{ margin-bottom: 0 !important;}
.column-margin-10px.column			{ margin-bottom: 10px !important;}
.column-margin-20px.column			{ margin-bottom: 20px !important;}
.column-margin-30px.column			{ margin-bottom: 30px !important;}
.column-margin-40px.column			{ margin-bottom: 40px !important;}
.column-margin-50px.column			{ margin-bottom: 50px !important;}
.parallax1 {
    background-image: url("rys1.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.parallax2 {
    background-image: url("../img/konstr1.jpg");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.parallax3 {
    background-image: url("../img/linia1.jpg");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.parallax4 {
    background-image: url("../img/silnik1.jpg");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.parallax5 {
    background-image: url("../img/relokac1.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
}
.home-section1 {
	padding: 0px 20px 0px 20px;
	
}
.home-section1 p{
    font-size: 20px;
	color:white;
	animation: 2s fadeIn;
    animation-fill-mode: forwards;
	animation-delay: 1s;
    visibility: hidden;
}
.home-section1  a{
    font-size: 34px;
	color: white;
	text-decoration: none;
	animation: 0.3s fadeIn;
    animation-fill-mode: forwards;
	animation-delay: 0.3s;
    visibility: hidden;
}
.home-section1  li{
    font-size: 16px;
	color: white;
	animation: 3s fadeIn;
    animation-fill-mode: forwards;
	animation-delay: 2s;
    visibility: hidden;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.home-section2 {
		font-size: 20px;
		margin: 20px;
}
.home-section2 a{
		text-decoration: none;
		color: white;
}
.bottom-bar {    
   position:fixed;
   left:0px;
   bottom:14px;
   height:16px;
   width:100%;
}
.footer p{
	text-align: center;
	color: gray;
	margin-bottom: 30px;	
	font-size: 14px;
}


.tm-titlebar {
	color: white;
	margin-top: 103px;
	padding: 1px 0px 9px 0px ;
	text-align: center;
	vertical-align: middle;
	background-image: url('../img/tbar-bg.jpg');
	
} 
.home-section1 li {
	color: white;
	
}
.tm-titlebar h1{
	font-size: 25px;	
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
    float: right;
    margin-top: -6px;
    margin-right: 5px;
} 
 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 910px) {
	.topnav .menu-exlogo a:not(:nth-child(n+6)) {display: none;}
	.topnav a.icon {
	float: right;
    display: block;
}	
.topnav.responsive .menu-tel a{
		margin-top: 3px;
		margin-right: 2px;
		float: right;	
		padding-right: 0px;
}
.topnav.responsive  a.icon {
    position: absolute;
    right: 2px;
    top: 0px;
	padding: 0px;
}
.topnav >.menu-part1 a {
    padding: 3px 6px;
}
.topnav.responsive img.logo {
	 
	margin: 0px;
	max-width: 100px;
	height: auto;
	margin-left: 0px;
}
img.logo { 
	margin: 0px;
	max-width: 100px;
	height: auto;
	margin-left: 0px;
}
.topnav.responsive .menu-exlogo a {
    float: none;
    display: block;
    text-align: left;
}
.topnav.responsive  a {
    float: none;
    display: block;
    text-align: left;
} 
.topnav.responsive  img.flag {
    display: inline-block;
    float: right;
	width: 31px;
	height: 31px;
 }
.topnav.responsive .menu-part2 {
    position: absolute;
    right: 8px;
    top: 35px;
 }
.topnav.responsive a.language-menu {
    display: none;
 }
.topnav.responsive .deutsch-button {
    margin-right: 42px;
 }
img.flag {
   display: inline-block;
   width: 31px;
   height: 31px;
   transition: all 0.4s ease-in-out;
 }
a.language-menu {
    display: none;
 }
  
  .home-section2 a{
		font-size: 60%;
}
  .home-section1 .column a{
		font-size: 90%;		
} 
  .home-section1 .column p{
		font-size: 90%;		
} 

.tm-titlebar {
	margin-top: 90px;	
} 
.tm-titlebar h1{
	font-size: 97%;	
}
} 
